body #preso .slide {
  width: 990px;
  height: 710px;
  padding:10px;
  border:5px solid gray;
  background:#ffffff url('logo.png') no-repeat right bottom;
  z-index: 10000;
}

.content .eclipse {
  opacity: 0.4;
  filter: alpha(opacity=50);
  background: url('solar-eclipse-big.jpg') no-repeat center center;
  width: 1000px;
  height: 773px;
  top: 0;
  left: 0;
  position: absolute;
}

.content .level {
 position: absolute;
 top: -25px;
 left: 810px;
 width: 200px;
 height: 200px;
}

.content .beginner {
 background: url('beginner.png') no-repeat left center;
}

.content .expert {
 left: 830px;
 background: url('expert.png') no-repeat left center;
}

.content h1 {
  background-color: #8EFF71;
}

.bullets ul li {
  padding-left: 75px;
  text-align: left;
  background: url('bullets-small.jpg') no-repeat left center;
}

.content img {
  background-position: center bottom;
}

.content .highlight {
  -moz-border-radius: 10px 10px 10px 10px;
  border: 5px solid red;
  position:absolute;
  height:30px;
  width:200px;
}
